:root {
    font-size: 16px;
    font-family: system-ui, sans-serif;
    --operator-active: #e2bc62;
    --operator-bg: #d79c14;
    --number-active: #619ed4;
    --number-bg: #1E88E5; 
}

body {
    box-sizing: border-box;
}

.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "header header"
    "numbers operators";
    place-items: center;
    height: 300px;
    border: 2px solid midnightblue;
    background-color: rgba(20, 16, 16, 0.786);
    width: 33%;
    margin: auto;
}

.output {
    padding: 0 5px;
    text-align: right;
    font-size: 2rem;
    overflow: clip;
    height: 100%;
}

.stored-operation {
    margin: 5px;
}

.numbers-container {
    grid-area: numbers;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "one two three"
    "four five six"
    "seven eight nine"
    "zero zero dot";
    gap: 8px;
    row-gap: 8px;
}

button[data-number="0"] {
    grid-area: zero;
}

button {
    border: 0;
    border-radius: 0.25rem;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}

.numbers-container button {
    background: var(--number-bg);
}

.numbers-container button:active {
    background: var(--number-active);
}

.operators-container {
    grid-area: operators;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "reset backspace"
    "add subtract"
    "divide multiply"
    "equals equals";
    gap: 8px;
    row-gap: 8px;
    
}

button[data-operator="equal"] {
    grid-area: equals;
}

.operators-container button {
    background: var(--operator-bg);
}

.active {
    background: var(--operator-active) !important;
}

.operators-container button:active {
    background: var(--operator-active);
}

@media screen and (max-width: 720px) {
    .calculator {
        width: 66%;
    }
}

.display {
    grid-area: header;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: azure;
    height: 67px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
 



